html,
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  font-size: 20px;
}
.footer-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #272727;
  font-size: 13px;
}

.author {
  text-decoration: none !important;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}
.alink {
  font-size: 14px;
  font-weight: 600;
}

.alink {
  color: #272727;
}

.nav-link {
  color: #272727 !important;
}

.alink ul {
  float: left;
}

a,
a:hover {
  color: #272727;
}

.btn,
.btn:hover {
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.showcase-img {
  height: auto;
  width: 350px;
  margin-bottom: 5rem;
}
.logo-img {
  height: auto;
  width: 100px;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.center {
  text-align: center;
}

.centered-container {
  text-align: center;
}

.centered-container p {
  margin-bottom: 30px;
}

.homepage-footer {
  position: absolute;
  bottom: 3vh;
  left: 0;
  right: 0;
}

@media (max-width: 700px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .showcase-img {
    width: 300px; /* ie8 */
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .showcase-img {
    width: 200px; /* ie8 */
  }
}
