html,
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  font-size: 20px;
}
.footer-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #272727;
  font-size: 13px;
}

.author {
  text-decoration: none !important;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}
.alink {
  font-size: 14px;
  font-weight: 600;
}

.alink {
  color: #272727;
}

.nav-link {
  color: #272727 !important;
}

.alink ul {
  float: left;
}

a,
a:hover {
  color: #272727;
}

.btn,
.btn:hover {
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.showcase-img {
  height: auto;
  width: 350px;
  margin-bottom: 5rem;
}
.logo-img {
  height: auto;
  width: 100px;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.center {
  text-align: center;
}

.centered-container {
  text-align: center;
}

.centered-container p {
  margin-bottom: 30px;
}

.homepage-footer {
  position: absolute;
  bottom: 3vh;
  left: 0;
  right: 0;
}

.homepage-footer-small {
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
}

.pdf-view {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

#pdf-viewer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.pdf-page-canvas {
  display: block;
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.buttoncontainer {
  display: flex;
  flex-direction: column;
}

.dropbtn {
  border-radius: 13px;
  font-family: "Monda", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #dde3e3;
  box-shadow: -3px -3px 20px 0 #fff, 3px 3px 20px 0 #93a2a5;
  color: #242424;
  line-height: 1rem;
  padding: 10px;
  font-size: 0.8rem;
  min-width: 200px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background: #93a2a5;
  box-shadow: -3px -3px 10px 80 #fff, 3px 3px 10px 80 #93a2a5;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.65rem;
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 5px 5px 30px 0 #93a2a5;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  border-radius: 13px;
  color: #242424;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dde3e3;
}

/* Show the dropdown menu*/
.show {
  display: block;
}

@media (max-width: 700px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .showcase-img {
    width: 300px; /* ie8 */
  }
  .button-67 {
    padding: 24px;
  }
  .homepage-footer {
    bottom: 1vh;
  }
  .footer-text {
    color: transparent;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .showcase-img {
    width: 200px; /* ie8 */
  }
  .homepage-footer {
    bottom: 1vh;
  }
  .footer-text {
    color: transparent;
  }
}
